In [2]:
import pandas as pd
path = 'data/GS.csv'
df = pd.read_csv(path)
df.head()
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,5577.000000,5577.000000,5577.000000,5577.000000,5577.000000,5.577000e+03
mean,153.388107,155.255690,151.518473,153.413700,134.953673,5.347931e+06
std,59.548650,59.940215,59.125804,59.536651,60.874014,6.154837e+06
min,54.000000,54.540001,47.410000,52.000000,43.174923,1.076000e+05
25%,99.375000,101.070000,97.809998,99.300003,81.400467,2.525500e+06
50%,155.300003,157.000000,153.720001,155.330002,134.594437,3.598300e+06
75%,194.839996,197.399994,192.449997,194.970001,173.237244,5.660900e+06
max,393.000000,393.260010,387.549988,391.450012,391.450012,1.145907e+08

In [4]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [6]:
del_cols = [str for str in list(df.columns) if str != 'Data']

In [12]:
data = df.

In [ ]:
del_cols.remove('Date')