In [1]:
import pandas as pd, numpy as np, os

os.chdir('data')

filename = 'weatherAUS.csv'
data = pd.read_csv(filename, sep=',')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [3]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [4]:
df = data.copy()
df['Month'] = pd.DatetimeIndex(df['Date']).month
# df['Date'] = df.loc[:,'Date'][-4:-2]
df = df.drop(['Date'], axis=1)
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Month
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,12
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,12
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,12
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,12
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,12

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       145460 non-null  object
 1   MinTemp        143975 non-null  float64
 2   MaxTemp        144199 non-null  float64
 3   Rainfall       142199 non-null  float64
 4   Evaporation    82670 non-null   float64
 5   Sunshine       75625 non-null   float64
 6   WindGustDir    135134 non-null  object
 7   WindGustSpeed  135197 non-null  float64
 8   WindDir9am     134894 non-null  object
 9   WindDir3pm     141232 non-null  object
 10  WindSpeed9am   143693 non-null  float64
 11  WindSpeed3pm   142398 non-null  float64
 12  Humidity9am    142806 non-null  float64
 13  Humidity3pm    140953 non-null  float64
 14  Pressure9am    130395 non-null  float64
 15  Pressure3pm    130432 non-null  float64
 16  Cloud9am       89572 non-null   float64
 17  Cloud3pm       86102 non-null   float64
 18  Temp9am        143693 non-null  float64
 19  Temp3pm        141851 non-null  float64
 20  RainToday      142199 non-null  object
 21  RainTomorrow   142193 non-null  object
 22  Month          145460 non-null  int64
dtypes: float64(16), int64(1), object(6)
memory usage: 25.5+ MB

In [6]:
import seaborn as sns
import numpy as np
from sklearn.preprocessing import LabelEncoder

mask = df.dtypes == np.object
# df_obj = df[object_cols]
object_cols = df.columns[mask]
object_cols

df[object_cols].describe()
# mask = data.dtypes == np.float
# float_cols = data.columns[mask]
# sns.pairplot(df, plot_kws=dict(alpha=.1, edgecolor='none'))

        Location WindGustDir WindDir9am WindDir3pm RainToday RainTomorrow
count     145460      135134     134894     141232    142199       142193
unique        49          16         16         16         2            2
top     Canberra           W          N         SE        No           No
freq        3436        9915      11758      10838    110319       110316

In [7]:
df

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Month
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,12
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,12
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,12
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,12
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No,6
145456,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No,6
145457,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No,6
145458,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No,6
145459,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN,6

In [8]:
df['WindDir9am'].value_counts()

N      11758
SE      9287
E       9176
SSE     9112
NW      8749
S       8659
W       8459
SW      8423
NNE     8129
NNW     7980
ENE     7836
NE      7671
ESE     7630
SSW     7587
WNW     7414
WSW     7024
Name: WindDir9am, dtype: int64

In [9]:
object_cols = object_cols.tolist()
object_cols

['Location',
 'WindGustDir',
 'WindDir9am',
 'WindDir3pm',
 'RainToday',
 'RainTomorrow']

In [10]:
le = LabelEncoder()
for col in object_cols:
    df[col].replace(np.nan, "", inplace=True)
    df[col] = le.fit_transform(df[col])
df

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Month
0,2,13.4,22.9,0.6,NaN,NaN,14,44.0,14,15,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,1,1,12
1,2,7.4,25.1,0.0,NaN,NaN,15,44.0,7,16,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,1,1,12
2,2,12.9,25.7,0.0,NaN,NaN,16,46.0,14,16,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,1,1,12
3,2,9.2,28.0,0.0,NaN,NaN,5,24.0,10,1,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,1,1,12
4,2,17.5,32.3,1.0,NaN,NaN,14,41.0,2,8,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,1,1,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,41,2.8,23.4,0.0,NaN,NaN,1,31.0,10,2,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,1,1,6
145456,41,3.6,25.3,0.0,NaN,NaN,7,22.0,10,4,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,1,1,6
145457,41,5.4,26.9,0.0,NaN,NaN,4,37.0,10,15,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,1,1,6
145458,41,7.8,27.0,0.0,NaN,NaN,10,28.0,11,4,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,1,1,6
145459,41,14.9,NaN,0.0,NaN,NaN,0,NaN,3,3,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,1,0,6

In [12]:
df_corr = df.corr()
df_corr.shape
df_corr

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Month
Location,1.000000,-0.006783,-0.020828,-0.002761,0.043898,0.004276,0.074300,0.071708,0.003995,0.031491,...,0.012951,0.036692,0.046720,-0.011575,-0.019724,-0.016031,-0.023471,-0.013134,-0.013112,-0.006975
MinTemp,-0.006783,1.000000,0.736555,0.103938,0.466993,0.072586,-0.149090,0.177415,0.000573,-0.146821,...,0.006089,-0.450970,-0.461292,0.078754,0.021605,0.901821,0.708906,0.048856,0.074597,-0.203833
MaxTemp,-0.020828,0.736555,1.000000,-0.074992,0.587932,0.470156,-0.175390,0.067615,-0.182668,-0.159104,...,-0.508855,-0.332061,-0.427167,-0.289370,-0.277921,0.887210,0.984503,-0.208951,-0.145877,-0.163884
Rainfall,-0.002761,0.103938,-0.074992,1.000000,-0.064351,-0.227549,0.032505,0.133659,0.083710,0.042882,...,0.255755,-0.168154,-0.126534,0.198528,0.172403,0.011192,-0.079657,0.501516,0.224268,-0.031371
Evaporation,0.043898,0.466993,0.587932,-0.064351,1.000000,0.365602,-0.055987,0.203021,-0.066011,-0.050923,...,-0.390243,-0.270362,-0.293581,-0.183793,-0.182618,0.545115,0.572893,-0.173908,-0.109716,-0.026805
Sunshine,0.004276,0.072586,0.470156,-0.227549,0.365602,1.000000,-0.055927,-0.034750,-0.085135,-0.035830,...,-0.629130,0.041970,-0.019719,-0.675323,-0.703930,0.291188,0.490501,-0.295960,-0.408096,0.024327
WindGustDir,0.074300,-0.149090,-0.175390,0.032505,-0.055987,-0.055927,1.000000,0.142125,0.350024,0.565672,...,0.009036,-0.128634,-0.045447,0.067007,0.069262,-0.169727,-0.191416,0.101782,0.050768,0.040305
WindGustSpeed,0.071708,0.177415,0.067615,0.133659,0.203021,-0.034750,0.142125,1.000000,0.109012,0.149798,...,-0.026327,-0.458744,-0.413749,0.071736,0.109168,0.150150,0.032748,0.132301,0.206299,0.061026
WindDir9am,0.003995,0.000573,-0.182668,0.083710,-0.066011,-0.085135,0.350024,0.109012,1.000000,0.308465,...,0.132205,-0.072942,0.018902,0.099615,0.064640,-0.080065,-0.193422,0.160025,0.039284,0.031964
WindDir3pm,0.031491,-0.146821,-0.159104,0.042882,-0.050923,-0.035830,0.565672,0.149798,0.308465,1.000000,...,-0.018463,-0.142889,-0.046101,0.050903,0.056570,-0.159333,-0.179995,0.110830,0.027859,0.033404
WindSpeed9am,0.076747,0.175064,0.014450,0.087338,0.193084,0.005499,0.062820,0.605303,0.181817,0.072977,...,-0.031614,-0.228743,-0.175817,0.025112,0.054639,0.128545,0.004569,0.081702,0.070565,0.051277
WindSpeed3pm,0.064228,0.175173,0.050300,0.057887,0.129400,0.053834,0.113970,0.686307,0.142774,0.125082,...,0.016432,-0.296351,-0.255439,0.053337,0.025396,0.163030,0.027778,0.065633,0.072610,0.060373
Humidity9am,-0.000039,-0.232899,-0.504110,0.224405,-0.504092,-0.490819,0.030687,-0.215070,0.046072,0.004449,...,0.666949,0.139442,0.186858,0.452297,0.357326,-0.471354,-0.498399,0.325708,0.233368,-0.090759
Humidity3pm,0.012951,0.006089,-0.508855,0.255755,-0.390243,-0.629130,0.009036,-0.026327,0.132205,-0.018463,...,1.000000,-0.027544,0.051997,0.517120,0.523120,-0.221019,-0.557841,0.343609,0.406050,-0.018858
Pressure9am,0.036692,-0.450970,-0.332061,-0.168154,-0.270362,0.041970,-0.128634,-0.458744,-0.072942,-0.142889,...,-0.027544,1.000000,0.961326,-0.129796,-0.147861,-0.422556,-0.286770,-0.175146,-0.226648,0.034928
Pressure3pm,0.046720,-0.461292,-0.427167,-0.126534,-0.293581,-0.019719,-0.045447,-0.413749,0.018902,-0.046101,...,0.051997,0.961326,1.000000,-0.060772,-0.084778,-0.470187,-0.389548,-0.097853,-0.208366,0.025611
Cloud9am,-0.011575,0.078754,-0.289370,0.198528,-0.183793,-0.675323,0.067007,0.071736,0.099615,0.050903,...,0.517120,-0.129796,-0.060772,1.000000,0.603564,-0.136959,-0.302060,0.283568,0.291214,-0.010168
Cloud3pm,-0.019724,0.021605,-0.277921,0.172403,-0.182618,-0.703930,0.069262,0.109168,0.064640,0.056570,...,0.523120,-0.147861,-0.084778,0.603564,1.000000,-0.126659,-0.317420,0.253455,0.355419,-0.003999
Temp9am,-0.016031,0.901821,0.887210,0.011192,0.545115,0.291188,-0.169727,0.150150,-0.080065,-0.159333,...,-0.221019,-0.422556,-0.470187,-0.136959,-0.126659,1.000000,0.860591,-0.092142,-0.025140,-0.136161
Temp3pm,-0.023471,0.708906,0.984503,-0.079657,0.572893,0.490501,-0.191416,0.032748,-0.193422,-0.179995,...,-0.557841,-0.286770,-0.389548,-0.302060,-0.317420,0.860591,1.000000,-0.215799,-0.176824,-0.175000
RainToday,-0.013134,0.048856,-0.208951,0.501516,-0.173908,-0.295960,0.101782,0.132301,0.160025,0.110830,...,0.343609,-0.175146,-0.097853,0.283568,0.253455,-0.092142,-0.215799,1.000000,0.329409,0.011714
RainTomorrow,-0.013112,0.074597,-0.145877,0.224268,-0.109716,-0.408096,0.050768,0.206299,0.039284,0.027859,...,0.406050,-0.226648,-0.208366,0.291214,0.355419,-0.025140,-0.176824,0.329409,1.000000,0.008902
Month,-0.006975,-0.203833,-0.163884,-0.031371,-0.026805,0.024327,0.040305,0.061026,0.031964,0.033404,...,-0.018858,0.034928,0.025611,-0.010168,-0.003999,-0.136161,-0.175000,0.011714,0.008902,1.000000

In [15]:
del_cols = [x for x in df_corr.columns if x != 'RainTomorrow']
del_cols
df_corr = df_corr.drop(columns=del_cols)

In [19]:
df_corr.sort_values(by=['RainTomorrow'], ascending=False)

               RainTomorrow
RainTomorrow       1.000000
Humidity3pm        0.406050
Cloud3pm           0.355419
RainToday          0.329409
Cloud9am           0.291214
Humidity9am        0.233368
Rainfall           0.224268
WindGustSpeed      0.206299
MinTemp            0.074597
WindSpeed3pm       0.072610
WindSpeed9am       0.070565
WindGustDir        0.050768
WindDir9am         0.039284
WindDir3pm         0.027859
Month              0.008902
Location          -0.013112
Temp9am           -0.025140
Evaporation       -0.109716
MaxTemp           -0.145877
Temp3pm           -0.176824
Pressure3pm       -0.208366
Pressure9am       -0.226648
Sunshine          -0.408096